#team-analyzer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e5d5d;
    box-shadow: 0 0 10px #110e0e;
    padding: 10px;
    border-radius: 5px;
    
    text-align: center;
    position: fixed;
    top:20%;
}

#version {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    left: -10px;
}
#refresh{
    z-index: 1;
}

#refresh:hover {
    color: yellowgreen;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: #991717;
}

a.premium {
    color: rgb(104, 99, 99);
}

a.premium:hover {
    color: #d3b404;
}

.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.key-info {
    color: #a39999;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #991717;
    border: 1px solid white;
}

input[type="text"] {
    font-size: 1rem;
    color: rgb(1, 122, 17);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

#averages {
    margin-bottom: 5px;
}

.card {
    background-color: rgb(41, 40, 40);
    border: 1px solid #0c0a0a;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.712);
    transition: all 0.3s ease-in-out;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.statistics {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path d="M12 5.5L8 9.5 4 5.5"></path></svg>');
    background-repeat: no-repeat;
    background-position: center 12px center;
    background-size: 30px;
    transition: transform 0.5s ease; 
    transform-style: preserve-3d;
}

.statistics:hover{
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellowgreen"><path d="M12 5.5L8 9.5 4 5.5"></path></svg>');
    
}

.statistics.rotate {
    /* transform: rotate(180deg);  */
    transform: rotateX(180deg);
}



.csr {
    color: sandybrown;
}

.physicals {
    color: rgb(104, 99, 99);
}

.skills{
    color: rgb(128, 123, 123);;
}

.form {
    color: green;
}

.energy {
    color: yellow;
}

.performance {
    color: orange;
}

.position {
    color: #a39999;
}

.age {
    color: #64befa;
}

.blue{
    color:#0d54ee;
    /* top:10px; */
    margin-bottom: 10px;
}
.red {
    color: var(--accent-color);
}
.injury{
    margin-bottom: 10px;
}

.green {
    color: yellowgreen;
}

.injured{
    border: 3px solid var(--accent-color);
    box-shadow: inset 0 0 10px 0px var(--accent-color);
}
.sell{
    border:3px solid #0d23ee;
    box-shadow: inset 0 0 10px 0px #0d23ee;
    
}
.sell-and-injured{
    border-top:3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    border-left: 3px solid #0d23ee;
    border-bottom: 3px solid #0d23ee;
    box-shadow: 
    inset 10px 0px 10px #0d23ee,   
    inset -10px 0 10px var(--accent-color),  
    inset 0 10px 10px var(--accent-color),   
    inset 0 -10px 10px #0d23ee;

}

.hidden-stats {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    /* background-color: #f9f9f9; */
    display: none; 
    transition: all 0.3s ease; /* Smooth transition */
}

.show {
    display: block; /* Class to show the stats */
    opacity: 1;
    animation: fadeIn 0.3s; /* Animation effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nat-img {
    margin-left: 4px;
}

.container {
    display: flex;
    min-width: 90%;
    max-width: 90%;
    margin-top: 50px;
    /* background-color: #4a4a4a; */
    /* background: linear-gradient(180deg, rgba(121, 9, 9, 1) 0px, rgba(212, 3, 3, 0) 55px, rgba(255, 0, 0, 0) 100%); */
    /* padding: 20px; */
    border-radius: 8px;
    /* border-top: 2px solid red; */
    /* box-shadow: 0 0 5px #2a2828; */
    flex-direction: column;
}

.club-name-title{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.team-avg-title-text{
    margin-bottom: 3px;
}

.hide-show-button{
    /* display: block; */
    color:yellowgreen;
    cursor: pointer;
    font-size: 1.3rem;
    
}
.slider-container{
    display: none;
}
.default-weights:hover, .hide-show-button:hover{
    color:#02750c;
    cursor: pointer;
}

#reload-defaults{
    background-color: #5e5d5d;
    padding: 2px;
    min-width: 80%;
    align-items: center;

}

#reload-defaults:hover{
    background-color: yellowgreen;
}


.cabinet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;

}

.trophy{
    display: flex;
    align-items: center;
    background-color: #110e0e;
    padding: 5px;
    margin: 3px;
    border: 2px solid var(--accent-color);
    flex-direction: column;
    border-radius: 3px;
}

.trophy img{
    left: 50%;
}
.trophy:hover{
    background-color: #444343;
    padding: 7px;
}