#team-analyzer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e5d5d;
    box-shadow: 0 0 10px #110e0e;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#version {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    left: -10px;
}

#refresh:hover {
    color: yellowgreen;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: #991717;
}

a.premium {
    color: rgb(104, 99, 99);
}

a.premium:hover {
    color: #d3b404;
}

.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.key-info {
    color: #a39999;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #991717;
    border: 1px solid white;
}

input[type="text"] {
    font-size: 1rem;
    color: rgb(1, 122, 17);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

#averages {
    margin-bottom: 5px;
}

.card {
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.csr {
    color: sandybrown;
}

.physicals {
    color: rgb(104, 99, 99);
}

.skills{
    color: rgb(128, 123, 123);;
}

.form {
    color: green;
}

.energy {
    color: yellow;
}

.performance {
    color: orange;
}

.position {
    color: #a39999;
}

.age {
    color: #64befa;
}

.red {
    color: #860202;
}

.green {
    color: yellowgreen;
}

.nat-img {
    margin-left: 4px;
}

.container {
    display: flex;
    min-width: 90%;
    max-width: 90%;
    margin-top: 50px;
    /* background-color: #4a4a4a; */
    /* background: linear-gradient(180deg, rgba(121, 9, 9, 1) 0px, rgba(212, 3, 3, 0) 55px, rgba(255, 0, 0, 0) 100%); */
    /* padding: 20px; */
    border-radius: 8px;
    /* border-top: 2px solid red; */
    /* box-shadow: 0 0 5px #2a2828; */
    flex-direction: column;
}

.club-name-title{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.team-avg-title-text{
    margin-bottom: 3px;
}

.hide-show-button{
    /* display: none; */
    color:yellowgreen;
    cursor: pointer;
    font-size: 1.3rem;
    
}
.slider-container{
    display: none;
}
.default-weights:hover, .hide-show-button:hover{
    color:#02750c;
    cursor: pointer;
}

#reload-defaults{
    background-color: #5e5d5d;
    padding: 2px;
    min-width: 80%;
    align-items: center;

}

#reload-defaults:hover{
    background-color: yellowgreen;
}

