.tab-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    background-color: #363636;
    color: var(--main-text-color);
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    /* min-width: 300px; */
}

.tab-btn:hover {
    border: 2px solid var(--accent-color);
}

.tab-content {
    display: none;
    width: 100%;
    /* background-color: #4a4a4a; */
}

.tab-content.active {
    display: block;
}

.flex-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.flex-align span {
    flex: 1; 
    margin-right: 1rem; 
}

.flex-align span:last-child {
    margin-right: 0; 
}

.tab-nav .tab-btn.active {
    background-color: #535353;
    color: #fff;
    border-right: 2px solid var(--accent-color);
    border-left: 2px solid var(--accent-color);
    
}

.tab-dropdown, .sort-tab-dropdown {
    display: inline-block;
    width: 100%;
    padding: 12px 15px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    appearance: none;  
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path d="M12 5.5L8 9.5 4 5.5"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}

#sort-list-display {
    display: flex;
    justify-content: center;
}

.sort-tab-dropdown {
    margin-bottom: 5px;
    width: 100%;
}

.tab-dropdown option, .sort-tab-dropdown option {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.tab-dropdown option:hover, .sort-tab-dropdown option:hover {
    background-color: #555;
}

.tab-dropdown {
    display: none; 
}


