@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
    --main-background: rgb(77, 75, 75);
    --main-text-color: #e7e9e6;
    --accent-color: #e73d3d;
}
